{{setPageTitle "RSVP"}}
{{setActiveNav "rsvp"}}
{{addCSS "/css/rsvp.css"}}

<div class="l-contain">
    <h1>RSVP</h1>

    <p>
Please, let us know as soon as possible whether you'll be able to attend. Firstly, we'd like to help with housing and flight organization. We believe we will be able to host many people for free on a first-come-first-served basis. Secondly, we want to make sure there will be food, drinks and amusements for everyone (and everytaste!).</p>

<p>Please answer before: xx - xx - xxx.</p>
	<p>If you have trouble filling in the form, please write us an email or call us.</p>
    <p style="text-align: center;">
        <a class="button" data-icon="R" href="https://docs.google.com/forms/d/1h4palW8N_4Th5pNW1PL4e4caPEd47RmbgQ39RqNeGo4/viewform" target="_blank">RSVP</a>
    </p>

<p>Per favore, facci sapere al più presto se riuscirai ad esserci. Prima di tutto vorremmo aiutare con l'organizzazione del viaggio e dell'alloggio. Probabilmente riusciremo ad alloggiare molte persone gratuitamente, ma chi prima arriva meglio alloggia! In secondo luogo, vogliamo essere sicuri che ci sia cibo, bevande e divertimenti per tutti (e per tutti i gusti)!</p>

<p>Per favore rispondi entro:  xx - xx - xxx.</p>
<p>Se hai problemi nel compilare il formulario, chiamaci o scrivici una mail.</p>
    </p>

    <p style="text-align: center;">
        <a class="button" data-icon="R" href="https://docs.google.com/forms/d/1h4palW8N_4Th5pNW1PL4e4caPEd47RmbgQ39RqNeGo4/viewform" target="_blank">Rispondi</a>
    </p>
    
 <p>Esp</p>

<p>Esp:  xx - xx - xxx.</p>
<p>Esp</p>
    </p>

    <p style="text-align: center;">
        <a class="button" data-icon="R" href="https://docs.google.com/forms/d/1h4palW8N_4Th5pNW1PL4e4caPEd47RmbgQ39RqNeGo4/viewform" target="_blank">Rispondi</a>
    </p>
    
</div>
