{{setPageTitle "Ceremony"}}
{{setActiveNav "ceremony"}}
{{addCSS "/css/registry.css"}}

<div class="reg l-contain">

<h1>Our Ceremony</h1>
<iframe style="width: 100%; height: 500px" src="https://docs.google.com/document/d/1vjGI9zaL83wEKoWLMo75f9gYChAEvJ95BkB8irxNviM/pub?embedded=true"></iframe>
<br/>

<h1>Hugo's speech</h1>
<iframe style="width: 100%; height: 500px" src="https://docs.google.com/document/d/1ivoHNLRNbkQ0rWzPlyTW81UdXjBpUp30xo03ZFB_viQ/pub?embedded=true"></iframe>
<br/>

<h1>Livia's speech</h1>
<iframe style="width: 100%; height: 500px"  src="https://docs.google.com/document/d/1rOm7v4Ysi-b7HXri7kROlWKF3NOBgyVj3EgpUKISl9g/pub?embedded=true"></iframe>

<br/>

<h1>Aitor's speech <a href="https://www.facebook.com/fsaitor/videos/pcb.1179735812085367/1179725865419695/?type=3&theater">(video)</a></h1>
<iframe  style="width: 100%; height: 500px" src="https://docs.google.com/document/d/1crI5ZKoSjMqBeebIXH4rXZWxPuRkXxjQdM_acbriahs/pub?embedded=true"></iframe>


</div>
