{{setPageTitle "Photos"}}
{{setActiveNav "photos"}}
{{addCSS "/css/registry.css"}}

<div class="reg l-contain">
 
     <h1>Bachelor(ette) party</h1>
<p>Work in progress</p>

    <h1>Preparation</h1>
<p>Work in progress</p>
    
    <h1>Pizzas</h1>

<a data-flickr-embed="true" data-header="true" data-footer="true"  href="https://www.flickr.com/photos/fseoane/albums/72157672253767181" title="Pizzas matriboda - webpage"><img src="https://c7.staticflickr.com/9/8608/28760549534_962d1c7167_z.jpg" width="640" height="481" alt="Pizzas matriboda - webpage"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>

<p><a href="https://www.flickr.com/photos/fseoane/albums/72157672253436121">Full Album</a></p>



<h1>Wedding</h1>
<p>Work in progress</p>

<h1>Bruch</h1>
<p>Work in progress</p>

<h1>Honeymoon</h1>
<p>Work in progress</p>

</div>
