{{setYUIModule "le-home"}}
{{setDescription "Valentina Borghesani & Fabian Pedregosa are getting married."}}
{{addCSS "/css/home.css"}}

<h2 class="event-header l-grid" style="text-align: center; margin-top: 20px">
    <span class="event-title l-grid-u">27 August 2016, the wedding of</span>
</h2>
<h1 class="ann">
    <span class="ann-primary">Valentina Borghesani</span>
    <span class="ann-secondary ann-sep">&amp;</span>
    <span class="ann-primary">Fabian Pedregosa-Izquierdo</span>
</h1>
<h2 class="event-header l-grid" style="text-align: center; margin-top: 20px; font-style: italic; margin-left: 30px">
    <span class="event-title l-grid-u">How did we get here?</span>
</h2>

<ol class="timeline l-grid">

    <li class="timeline-events">
        <ol class="l-grid">
          {{#event "Granada to Paris"
                who  = "fabian"
                time = "January 2010"
		photo = "/photos/fabian_trip.png"
                }}

            {{> event/header}}
            {{> event/photo}}

            <p>
Fabian moved to Paris for a two years contract as an engineer.</p>
<p>Fabian si é trasferito a Parigi per un contratto di due anni come ingegnere.</p>
<p>Fabian se fué a París para trabajar dos años como ingeniero.</p>

            {{> event/time}}
          {{/event}}

          {{#event "San Giovanni in Persiceto to Paris"
                who  = "leslie"
                time = "September 2012"
                photo  = "/photos/vale_trip.png"}}

            {{> event/header}}
            {{> event/photo}}

            <p>
Valentina moved to Paris for what should have been a 6 months internship...</p>
<p>Valentina si é trasferita a Parigi, teoricamente per un tirocinio di 6 mesi...
            </p>
<p>Valentina se mudó a Paris, teóricamente para unas prácticas de 6 meses...
            </p>

            {{> event/time}}
          {{/event}}
        </ol>
    </li>

  {{#event "Met for the first time at work"
        time  = "April 15, 2013"
        photo = "/photos/1.png"
        }}

    {{> event/header}}
    {{> event/photo}}

<p>He admitted he could already tell she was "not like the other ones, she was here to stay".
She remember thinking that a guy like him would never pay attention to her.</p>
<p>Lui ha ammesso che poteva già capire come lei “non fosse come gli altri, era li per restare”.
Lei si ricorda di aver pensato che un ragazzo cosi non l’avrebbe mai notata.</p>
    </p>
    <p>Él sabía que ella "no es como los demás, ella está aquí para quedarse". Ella recuerda pensar que un tipo como él nunca se interesaría por ella.</p>

    {{> event/time}}
  {{/event}}

  {{#event "Neurospin Party - first move"
        time = "17 May 2013"
        photo = "/photos/2.jpg"

        }}
    {{> event/header}}
    {{> event/photo}}

    <p>
Neurospin Party - first move (17 May 2013) 
She was there with other friends, but his arrive lighted up the room. Amidst the crow, he offered her a beer, as if it was inevitable.
    </p>
    <p>
Lei era li’ con altri amici, ma quando é arrivato lui la stanza si é illuminata. Tra la folla, lui le ha offerto una birra, come se fosse inevitabile.
    </p>
    <p>
Ella estaba allí con otros amigos, pero cuando él llegó la sala se iluminó. De entre la multitud, le ofreció una copa, como si fuera inevitable.
    </p>

    {{> event/time}}
  {{/event}}


  {{#event "First date"
        time = "24 May 2013"
        photo = "/photos/4.JPG"

        }}
    {{> event/header}}
    {{> event/photo}}

    <p>
She owed him a beer, remember? So he invited her to a concert, starting the longest date ever.
    </p>
    <p>
Lei gli doveva una birra, no? Cosi lui l’ha invitata ad un concerto, dando inizio all’appuntamento più lungo di sempre.
    </p>
    <p>
Ella le debía una copa, ¿recuerdas?, así que él la invitó a un concierto, a la cita más larga jamás vista.
    </p>

    {{> event/time}}
  {{/event}}


  {{#event "Moved in together"
        time = "5 December 2013"
        photo = "/photos/3.jpg"

        }}
    {{> event/header}}
    {{> event/photo}}
    <p>
As they were spending 80% of the time in his house, the two took the most logical decision: she moved in with him. Everything kept flowing naturally and effortlessly. 
    </p>
    <p>
Dal momento che passavano l’80% del tempo a casa di lui, hanno optato per la decisione più logica: lei si é trasferita da lui. Tutto accadde in modo naturale e spontaneo.
    </p>
    <p>
Pasaban el 80% del tiempo en su casa, así que los dos tomaron la decisión de vivir juntos. Todo sucedió de forma natural y sin esfuerzo.
    </p>
    {{> event/time}}
  {{/event}}



  {{#event "Moved to their home"
        time = "1 August 2014"
        photo = "photos/moving1.jpg"
        alt   = "Moved to their home."

        }}
    {{> event/header}}
    {{> event/photo}}
    <p>
They went house-hunting, signed a contract, moved appliances around Paris, bought and assembled Ikea furniture. If this is not love…
    </p>
    <p>
Hanno cercato appartementi, firmato un contratto, raccattato elettrodomestici per tutta Parigi, comprato e montato mobili Ikea. Se questo non é amore...
    </p>
    <p>Buscaron piso, firmaron un contrato, movieron pertnencias a través de París, compran y se montan los muebles de Ikea. Si esto no es amor ...
    </p>
    {{> event/time}}
  {{/event}}


  {{#event "Engaged"
        time  = "26 September 2015"
        photo = "/photos/collage_cadiz.jpg"
        alt   = "picture here."}}

    {{> event/header}}
    {{> event/photo}}

    <p>
They were on an amazing holiday in the South of Spain and everywhere they looked there were weddings taking place. They joked about building a family and she pointed out they always talk about this kind of matters with a light tone. Fabian, who had been waiting for the perfect moment, cannot hold it any longer. Saying "This is how serious I am", he took Valentina right hand and put a ring on her finger, throwing her into confusion [italians wear the engagement ring on the left hand]. He continued, smiling: "Vale, I AM proposing, you should answer." She was overwhelmed with joy and we all know the answer by now!
    </p>

    <p>
Stavano facendo una stupenda vacanza nel sud della Spagna e ovunque guardassero c’erano coppie di sposi. Si sono messi a fare battute sul mettere su famiglia e lei gli ha fatto notare che ne parlavano sempre in tono scherzoso. Fabian, che stava aspettando il momento perfetto, non ha potuto trattenersi. Proclamando "Ecco quanto sono serio!" ha preso la mano destra di Valentina e le ha messo l’anello all’anulare mandandola in confusione [gli spagnoli indossano l’anello di fidanzamento nella mano destra]. Sorridendo, lui ha chiarito: “Vale, questa é davvero una proposta, mi dovresti rispondere”. Lei é stata invasa da pura gioia e tutti conosciamo la risposta!
    </p>
    <p>
Ellos estaban en unas vacaciones increíbles en el sur de España y a cualquier sitio al que iban se veían bodas. Ellos bromearon sobre la construcción de una familia y ella señaló que siempre hablaban de este tipo de asuntos en tono ligero. Fabian, que había estado esperando el momento perfecto, no pudo aguantar más. Dice: "Esto es lo serio que soy!", toma la mano derecha Valentina y le pone un anillo, lanzándola en la confusión (los italianos llevan el anillo de compromiso en la mano izquierda). Él continuó, sonriendo: "Vale, te estoy proponiendo, debes responder". Ella estaba abrumada de alegría y ahora todos sabemos la respuesta!        
    </p>
    {{> event/time}}
  {{/event}}



  {{#event "Getting Married"
        time   = "27 August 2016"
        photo  = ""
        alt    = "picture here."
        }}

    {{> event/header}}

    <p>
        We are getting married in  <strong>San Giovanni in Persiceto</strong>.
    </p>

    <p>
        Ci sposeremo a  <strong>San Giovanni in Persiceto</strong>.
    </p>

    <p>
        Nos casaremos en <strong>San Giovanni in Persiceto</strong>.
    </p>

    <p class="button-wedding">
        <a class="button" data-icon="i" href="/wedding/">See Wedding Details</a>
    </p>

    {{> event/time}}
  {{/event}}

</ol>
