{{setPageTitle "Photos"}}
{{setActiveNav "photos"}}
{{addCSS "/css/registry.css"}}

<div class="reg l-contain">
 
<p>[Be patient, it's loading 7 nice slideshows from Flickr]</p>
<br/>


<h1>Photographer's pics</h1>
<p>This is a selection of pictures, don't hesitate to contact us if you would like more or a high resolution sample.</p>

<p><img src="/photos/italy_flag_16.png"></p>

<p><img src="/photos/spain_flag_16.png"> Esto es una selección de las fotografías de nuestra fotógrafo. No dudes en contactarnos si quieres ver mas o alguna fotografia en alta resolución.</p>

<a data-flickr-embed="true" data-header="true" data-footer="true"  href="https://www.flickr.com/photos/fseoane/albums/72157675155434153" title="Official #matriboda2016"><img src="https://c3.staticflickr.com/1/342/32019210962_ed0cdbc404_z.jpg" width="640" height="427" alt="Official #matriboda2016"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>

<br/><br/>

<h1>Bachelor party</h1>
<a data-flickr-embed="true" data-header="true" data-footer="true"  href="https://www.flickr.com/photos/fseoane/albums/72157673214387246" title="Bachelor Party #matriboda2016"><img src="https://c4.staticflickr.com/9/8284/28954420811_9b0f9b810a_z.jpg" width="640" height="480" alt="Bachelor Party #matriboda2016"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
<br/>
<br/>

<h1>Bachelorette party</h1>
<a data-flickr-embed="true" data-header="true" data-footer="true"  href="https://www.flickr.com/photos/fseoane/albums/72157673316400715" title="Bachelorette Party #matriboda2016"><img src="https://c7.staticflickr.com/9/8734/29372336606_ceb2e985a0_z.jpg" width="640" height="360" alt="Bachelorette Party #matriboda2016"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
<br/>
<br/>

<h1>Getting Ready</h1>
<a data-flickr-embed="true" data-header="true" data-footer="true" href="https://www.flickr.com/photos/fseoane/albums/72157672069453490" title="Getting ready for #matriboda2016"><img src="https://c5.staticflickr.com/9/8865/29350616276_52716dcd35_z.jpg" width="640" height="481" alt="Getting ready for #matriboda2016"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>

<br/>
<br/>

<h1>Warm-Up Pizzas</h1>
<a data-flickr-embed="true" data-header="true" data-footer="true" href="https://www.flickr.com/photos/fseoane/albums/72157672253767181" title="Pizzas #matriboda2016"><img src="https://c7.staticflickr.com/9/8608/28760549534_962d1c7167_z.jpg" width="640" height="481" alt="Pizzas #matriboda2016"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
<br/>
<br/>

<h1>Wedding Day!</h1>
<a data-flickr-embed="true" data-header="true" data-footer="true"  href="https://www.flickr.com/photos/fseoane/albums/72157670101947394" title="Wedding #matriboda2016"><img src="https://c5.staticflickr.com/9/8856/29374264156_c863036af2_z.jpg" width="460" height="640" alt="Wedding #matriboda2016"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
<br/>
<br/>

<h1>Cool-Down Brunch</h1>
<a data-flickr-embed="true" data-header="true" data-footer="true"  href="https://www.flickr.com/photos/fseoane/albums/72157673224293366" title="Brunch #matriboda2016"><img src="https://c7.staticflickr.com/9/8488/28784461334_2052aa1783_z.jpg" width="640" height="480" alt="Brunch #matriboda2016"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
<br/>
<br/>

<h1>Honeymoon (kinda)</h1>
<a data-flickr-embed="true" data-header="true" data-footer="true"  href="https://www.flickr.com/photos/fseoane/albums/72157672293406241" title="Honeymoon (kinda) #matriboda2016"><img src="https://c2.staticflickr.com/9/8294/29405374385_12ca16c8f1_z.jpg" width="360" height="640" alt="Honeymoon (kinda) #matriboda2016"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
<br/>
<br/>

</div>
