{{setPageTitle "Photos"}}
{{setActiveNav "photos"}}
{{addCSS "/css/registry.css"}}

<div class="reg l-contain">

<p>Here, you can download a .zip file that contain the different playlists used during the wedding.</p>

<p>XXX</p>

<p>Aquí te puedes descargar un archivo .zip que contine las canciones usadas durante la boda.</p>

<h1>Pizzas</h1>

<h1>Ceremony</h1>

<h1>Reception</h1>
 
<h1>Pool party</h1>

<br/>
<br/>

</div>
