{{setPageTitle "Playlist"}}
{{setActiveNav "playlist"}}
{{addCSS "/css/registry.css"}}

<div class="reg l-contain">

<br/>

<p>Here, you can download a .zip file that contains the different playlists used during the Matriboda2016.</p>

<p>Qui puoi scaricare una cartella (.zip) che contiene le canzoni usate durante la Matriboda2016.</p>

<p>Aquí abajo te puedes descargar un archivo .zip con las canciones usadas durante la Matriboda2016.</p>

<br/>
<p>[coming soon they will be ready by the end of next week]</p>
<br/>

<h1 style="margin-left: 50px"><a href="https://s3-eu-west-1.amazonaws.com/pedregosa-borghesani-wedding/music/MIX+PIZZAS.zip">Pizzas <img width="50px" src="/img/download-icon-png-5.png" \></a><span style="font-size: 50%"> (Pink Martiny, Trace Chapman, Penguin Cafe, etc.)</span></h1>

<h1 style="margin-left: 50px"><a href="#">Ceremony <img width="50px" src="/img/download-icon-png-5.png" \></a><span style="font-size: 50%"> (Talking heads, Penguin Cafe, Foo fighters, Stevie Wonder)</span></h1>


<h1 style="margin-left: 50px"><a href="#">Reception <img width="50px" src="/img/download-icon-png-5.png" \></a><span style="font-size: 50%"> (mix of different soundracks)</span></h1>


<h1 style="margin-left: 50px"><a href="#">Pool party <img width="50px" src="/img/download-icon-png-5.png" \></a><span style="font-size: 50%"> (from Gigi D'Agostino to Ska-P and everything inbetween)</span></h1>

<br/>
<br/>

</div>
