{{setPageTitle "Playlist"}}
{{setActiveNav "playlist"}}
{{addCSS "/css/registry.css"}}

<div class="reg l-contain">

<<<<<<< HEAD
<br/>

<p>Here, you can download a .zip file that contain the different playlists used during the wedding.</p>
=======
<p>Here, you can download a .zip file that contain the different playlists used during the Matriboda2016.</p>
>>>>>>> adf911ca0956925a070e8ef5202ce7fc16ced4cc

<p>Qui puoi scaricare una cartella compressa (.zip) che contiene le canzoni usate durante la Matriboda2016</p>

<<<<<<< HEAD
<p>Aquí abajo te puedes descargar un archivo .zip con las canciones usadas durante la boda.</p>


<h1 style="text-align: center"><a href="#">Pizzas <img width="50px" src="/img/download-icon-png-5.png" \></a><span style="font-size: 50%"> (Pink Martiny, Trace Chapman, Penguin Cafe, etc.)</span></h1>
=======
<p>Aquí te puedes descargar un archivo .zip que contine las canciones usadas durante la Matriboda2016.</p>
>>>>>>> adf911ca0956925a070e8ef5202ce7fc16ced4cc

<h1 style="text-align: center"><a href="#">Ceremony <img width="50px" src="/img/download-icon-png-5.png" \></a><span style="font-size: 50%"> (Talking heads, Penguin Cafe, Foo fighters, Stevie Wonder)</span></h1>


<h1>Reception</h1>
 
<h1>Pool party</h1>

<br/>
<br/>

</div>
