{{setPageTitle "Printables"}}
{{setActiveNav "printables"}}
{{addCSS "/css/registry.css"}}

<div class="reg l-contain">
 
<br/>

<p>Here, you can download a .zip file that contains the different all our wedding stationery and messages, including the kids activity book</p>

<p>Qui puoi scaricare una cartella compressa (.zip) che contiene tutti i materiali cartecei 
(inviti, etichette bomboniere, menu, etc..) relativi al nostro matrimonio, compreso il libricino per i bimbi.</p>

<p>Aquí abajo te puedes descargar un archivo .zip con el material impreso (invitaciones, etiquetas, menu, etc) relative a nuestro matrimonio, incluido el libro de actividades para niños </p>

<h1 style="margin-left: 50px"><a href="https://s3-eu-west-1.amazonaws.com/pedregosa-borghesani-wedding/printables/printables.zip">Download/Scarica/Descarga<img width="50px" src="/img/download-icon-png-5.png" \></a><span style="font-size: 50%"></span></h1>
 
<img src="/photos/printables.png" width="100%"/>
 
</div>
