{{setPageTitle "Hotels Near Wedding"}}
{{setActiveNav "logistics"}}
{{addCSS "/css/details.css"}}

<div class="l-contain">
  {{#subnav "logistics" active="hotels"}}
    {{> subnav}}
  {{/subnav}}

    <h1>Accomodation Near Our Wedding</h1>

    <p>
      Should you be looking for an accommodation in the area, here are some suggestions. Don’t forget to consider how you plan to go around (rent a car?), as we are talking of a countryside: not many means of public transportation.
    </p>
    
    <p><img src="/photos/italy_flag_16.png" /> 
      Se cercate un alloggi nella zona, questi sono alcuni suggerimenti. Non dimenticate di considerare come vi muoverete (noleggio di un auto?), siamo pur sempre in campagna: non ci sono molti mezzi di trasporto pubblici.
    </p>
    
    <p><img src="/photos/spain_flag_16.png" /> Si buscas alojamiento en la zona, estas son algunas sugerencias. No se olvide de considerar cómo llegar hasta ahí (por ejemplo, alquiler de coche), ya que estamos la zona es rural y los medios de transporte público son escasos.    </p>
    
    <br/>
    <br/>
    <p class="callout">
        <span style="font-size: 200%">Hotels</span>
    </p>

    <h2>Ipoint Hotel****</h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
            <ul class="details-content">
                <li><a href="http://www.ipointhotel.it">ipointhotel.it</a></li>
                <li><b>Phone:</b>051 825950</li>
            </ul>
        </div>
        <div class="l-grid-u">
            <address class="details-content">
                <a href="https://www.google.fr/maps/@44.6317606,11.1702435,3a,75y,267.64h,100.58t/data=!3m6!1e1!3m4!1suKrkUJdqWlXXkwSaadjzZg!2e0!7i13312!8i6656">
                    3 via Maestri del Lavoro<br>
                    San Giovanni in Persiceto
                </a>
            </address>
        </div>
    </div>
  
    <h2>Persico’s****</h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
            <ul class="details-content">
                <li><a href="http://www.hotelpersicos.it">hotelpersicos.it</a></li>
                <li><b>Phone:</b>051 6811611</li>
            </ul>
        </div>
        <div class="l-grid-u">
            <address class="details-content">
                <a href="https://www.google.es/maps/@44.6285434,11.1954616,3a,75y,120.34h,103.28t/data=!3m6!1e1!3m4!1sp_HolAPN5ts3MTK4XJBg8w!2e0!7i13312!8i6656">
                    13 via Cristoforo Colombo<br>
                    San Giovanni in Persiceto
                </a>
            </address>
        </div>
    </div>

    <h2>Sorsi e morsi di Marussia Franceschi</h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
            <ul class="details-content">
                <li><a href="http://www.sorsimorsi.it">sorsimorsi.it</a></li>
                <li><b>Phone:</b>051 6810768</li>
            </ul>
        </div>
        <div class="l-grid-u">
            <address class="details-content">
                <a href="https://www.google.es/maps/@44.6375112,11.2162703,3a,75y,51.01h,72.42t/data=!3m6!1e1!3m4!1sEh1jTI6HuYcMZp5yJ-8Lnw!2e0!7i13312!8i6656">
                    2 Via Poggio<br>
                    San Giovanni in Persiceto
                </a>
            </address>
        </div>
    </div>
    
    <br/>
    <br/>
    <p class="callout">
        <span style="font-size: 200%">Bed and Breakfast</span>
    </p>

    <h2>L’airone di Claudio Visani</h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
            <ul class="details-content">
                <li><a href="http://www.lairone.com">lairone.com</a></li>
                <li><b>Phone:</b>051 6810350</li>
                <li><b>Mobile:</b>339 8248397</li>
            </ul>
        </div>
        <div class="l-grid-u">
            <address class="details-content">
                <a href="https://www.google.es/maps/@44.6438536,11.2286907,3a,75y,168.6h,81.1t/data=!3m6!1e1!3m4!1s7GgVcEtYioW3bnlE0jnjrg!2e0!7i13312!8i6656!6m1!1e1">
                    17/a via Zenerigolo<br>
                    San Giovanni in Persiceto
                </a>
            </address>
        </div>
    </div>

    <h2>B&B La Zoia di Fabbri Nadia</h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
            <ul class="details-content">
                <li><a href="https://www.airbnb.it/rooms/498813?s=xct5V4O0">on airbnb</a></li>
                <li><b>Phone:</b>051 6810471</li>
                <li><b>Mobile:</b>329 3562594</li>
            </ul>
        </div>
        <div class="l-grid-u">
            <address class="details-content">
                    24/a via della Zoia<br>
                    San Giovanni in Persiceto
            </address>
        </div>
    </div>
    
    <h2>Art to design B&B di Alessandro Maria Betocchi</h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
            <ul class="details-content">
                <li><a href="http://www.arttodesign.it/">arttodesign.it</a></li>
                <li><b>Phone:</b>051 821532</li>
                <li><b>Mobile:</b>338 7914088</li>
            </ul>
        </div>
        <div class="l-grid-u">
            <address class="details-content">
                <a href="https://www.google.es/maps/place/Via+Mandria,+9,+40017+San+Giovanni+in+Persiceto+BO,+Italia/@44.6124487,11.1864867,3a,75y,32.44h,87.74t/data=!3m7!1e1!3m5!1sRrCYbQRgUzs5uYxblLoEpA!2e0!6s%2F%2Fgeo3.ggpht.com%2Fcbk%3Fpanoid%3DRrCYbQRgUzs5uYxblLoEpA%26output%3Dthumbnail%26cb_client%3Dmaps_sv.tactile.gps%26thumb%3D2%26w%3D203%26h%3D100%26yaw%3D18.906231%26pitch%3D0!7i13312!8i6656!4m2!3m1!1s0x477fc52493e2fa23:0x28fe9ae126a6157c">
                    9/b via Mandria<br>
                    San Giovanni in Persiceto
                </a>
            </address>
        </div>
    </div>    
    
    <br/>
    <br/>
    <p class="callout">
        <span style="font-size: 200%">Houses</span>
    </p>

    <h2>La tua casa a Bologna</h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
            <ul class="details-content">
                <li><a href="https://www.airbnb.it/rooms/9749962?checkin=25-08-2016&checkout=29-08-2016&guests=6&s=-uDoBgdz">Ilaria on AirBnB</a></li>
                <li><b>Phone:</b>051.825950</li>
            </ul>
        </div>
        <div class="l-grid-u">
            <address class="details-content">
                <a href="https://www.google.es/maps/dir/San+Giovanni+In+Persiceto,+BO,+Italia/Via+Storta,+40050+Argelato+BO,+Italia/@44.6352384,11.2183494,13z/data=!4m14!4m13!1m5!1m1!1s0x477fc455928f023b:0x6eff1e4ddf450f9a!2m2!1d11.1893053!2d44.6405433!1m5!1m1!1s0x477fcc2b5f8f55e5:0x9b94c98da5b90398!2m2!1d11.3270524!2d44.625445!3e0">
                    via Storta, Argelato<br>
                    15 min from San Giovanni in Persiceto
                </a>
            </address>
        </div>
    </div>

    <h2>Bellissima casa di campagna</h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
            <ul class="details-content">
                <li><a href="https://www.airbnb.it/rooms/8138656?checkin=25-08-2016&checkout=29-08-2016&guests=6&s=4zJ3PMT8">Livia on AirBnB</a></li>
                <li><b>Phone:</b>051 6810768</li>
            </ul>
        </div>
        <div class="l-grid-u">
            <address class="details-content">
                <a href="https://www.google.es/maps/dir/San+Giovanni+In+Persiceto,+BO,+Italia/Via+Cassola,+40050+Valsamoggia+BO,+Italia/@44.5658777,11.0896461,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x477fc455928f023b:0x6eff1e4ddf450f9a!2m2!1d11.1893053!2d44.6405433!1m5!1m1!1s0x477fd8de7eee693f:0xd117e6bd19837b61!2m2!1d11.1032399!2d44.4910103!3e0">
                    via Cassola, Valsamoggia<br>
                    25 min from San Giovanni in Persiceto
                </a>
            </address>
        </div>
    </div>

    <br/><br/>
    <div id="free_housing">

    <p>
      Remember, we might be able to host few of you for free - maybe in a tend - please get in touch with us as soon as possible. Anyhow, don't hesitate to let us know your choice before making a payment: we have eyes and hears on site to check for you!
    </p>
    
    <p><img src="/photos/italy_flag_16.png" /> 
      Ricorda, potremmo riuscire ad ospitare alcuni di voi gratis - magari in una tenda -  quindi non esitare a metterti in contatto con noi il prima possibile. Ad ogni modo, prima di fare ogni pagamento faccelo sapere: abbiamo occhi ed orecchie in loco per poter controllare al posto tuo!
    </p>
    
    <p><img src="/photos/spain_flag_16.png" /> Recuerde, tal vez seamos capaces de albergar algunos de ustedes de forma gratuita - por ejemplo en una tienda de campaña - por favor póngase en contacto con nosotros lo antes posible si le interesa esta opción. De todos modos, no dude en pedirnos información sobre su elección: tenemos ojos y oídos en el lugar para asegurarnos de que el lugar cumpla con sus expectativas!    </p>
    </div>

</div>
