{{setPageTitle "Traveling to Wedding"}}
{{setActiveNav "logistics"}}

<div class="l-contain">
  {{#subnav "logistics"}}
    {{> subnav}}
  {{/subnav}}

    <h1>Getting to San Giovanni in Persiceto:</h1>

    <p>
        San Giovanni in <a href="https://en.wikipedia.org/wiki/San_Giovanni_in_Persiceto">what</a>?    San Giovanni in <a href="https://it.wikipedia.org/wiki/San_Giovanni_in_Persiceto">cosa</a>?   San Giovanni in <a href="https://es.wikipedia.org/wiki/San_Giovanni_in_Persiceto">que</a>?
    </p>

    </br>
    <h2>By plane</h2>
    <p>
        Bologna international airport, Guglielmo Marconi, is only 20 km far from Persiceto. There is a navette connecting the airport to the train and bus stations which are in the center of Bologna (<a href="http://aerobus.bo.it/en">timetable here</a>). It is also very likely that someone will be able to pick you up directly from the airport provided we are informed about your travel schedule soon enough. From Paris, we suggest <a href="http://www.easyjet.com/">Easyjet</a> (CDG) or <a href="http://www.vueling.com/">Vueling</a> (Orly). From Madrid, <a href="https://www.ryanair.com/">Ryanair</a>. 
    </p>
    <p> <img src="/photos/italy_flag_16.png" /> 
        Persiceto dista 20 chilometri dall’aeroporto "Guglielmo Marconi" di Bologna. Una navetta connette l'aeroporto alla stazione dei treni ed a quella degli autobus nel centro di Bologna (<a href="http://aerobus.bo.it/it">gli orari si trovano qui</a>). Molto probabilmente, qualcuno potrà venire direttamente all’aereoporto a recupervi, a patto che ci diate tutte le informazioni sul vostro viaggio con largo anticipo. Da Parigi, consigliamo <a href="http://www.easyjet.com/">Easyjet</a> (CDG) o <a href="http://www.vueling.com/">Vueling</a> (Orly). Da Madrid, <a href="https://www.ryanair.com/">Ryanair</a>.
    </p>
    <p> <img src="/photos/spain_flag_16.png" /> 
        El aeropuerto internacional de Bolonia, Guglielmo Marconi, está a sólo 20 km de Persiceto. Hay un autobús que enlaza el aeropuerto a las estaciones de trenes y autobuses que están en el centro de Bolonia (<a href="http://aerobus.bo.it/es">horarios aquí</a>). También es posible concertar para que alguien lo recoja directamente desde el aeropuerto siempre se nos informa acerca de su itinerario de viaje con suficiente antelación. Desde París, le sugerimos <a href="http://www.easyjet.com/">Easyjet</a> (CDG) o <a href="http://www.vueling.com/">Vueling</a> (Orly). Desde Madrid, <a href="https://www.ryanair.com/">Ryanair</a>.
    </p>
    
    </br>
    <h2>By train</h2>
    <p>
        The train line connecting Brennero (Bolzano, Trento, Verona, etc..) to Bologna stops in San Giovanni in Persiceto. This means that approximately every hour there is a train leaving Bologna and reaching Persiceto in about 20 minutes. Please, check the time schedule <a href="http://www.trenitalia.com/">here</a>.
    </p>
    <p><img src="/photos/italy_flag_16.png" /> 
        La linea ferroviaria che va dal Brennero (Bolzano, Trento, Verona, etc…) a Bologna ferma a Persiceto. Circa ogni ora c’é un treno che parte da Bologna ed arriva a Persiceto 20 minuti più tardi. Potete controllare gli orari <a href="http://www.trenitalia.com/">qui</a>.
    </p>
    <p><img src="/photos/spain_flag_16.png" /> 
        La línea de tren que conecta Brennero (Bolzano, Trento, Verona, etc ..) a Bolonia para en San Giovanni in Persiceto. Esto significa que aproximadamente cada hora hay un tren que sale de Bologna y alcanzando Persiceto en unos 20 minutos. Por favor, revise el calendario <a href="http://www.trenitalia.com/">aquí</a>.
    </p>
    
    </br>
    <h2>By car</h2>
    <p>
        From Bologna, it takes about 25 minutes to reach Persiceto with the Statale 568. Same holds for Modena, with the Statale 255, which also connects Persiceto and Ferrara (about 45 minutes). 
    </p>
    <p><img src="/photos/italy_flag_16.png" /> 
        Da Bologna, ci vogliono circa 25 minuti per raggiungere Persiceto con la Statale 568. Lo stesso vale per Modena, con la Statale 255, che connette Persiceto anche a Ferrara (circa 45 minuti).
    </p>
    <p><img src="/photos/spain_flag_16.png" /> 
        Desde Bolonia, se tarda unos 25 minutos en llegar a Persiceto via la carretera Statale 568. Lo mismo puede decirse de Módena, con el Statale 255, que también conecta Persiceto y Ferrara (unos 45 minutos).
    </p>

</div>
