{{setPageTitle "Outings in Area"}}
{{setActiveNav "logistics"}}
{{addCSS "/css/details.css"}}

<div class="l-contain">
  {{#subnav "logistics" active="outings"}}
    {{> subnav}}
  {{/subnav}}

    <h1>Suggested activities in the area:</h1>
    
    <p>
        Persiceto and the surroundings small towns offer little gems you do not want to miss.
    </p>

    <p><img src="/photos/italy_flag_16.png" />  
        Persiceto e le cittadine circostanti offrono piccole perle you don’t want to miss.
    </p>
    
    <p><img src="/photos/spain_flag_16.png" /> 
        Persiceto y las ciudades de alrededor ofrecent pequeñas que no se puede perder.
    </p>  
    
    <li style="margin-left: 50px">Godersi il <a href="http://www.comunepersiceto.it/la-citta-e-dintorni/luoghi-da-visitare">centro storico</a>/ Enjoy the historical center/ Disfrute del centro histórico</li>
    <li style="margin-left: 50px"><a href="http://www.museocieloeterra.org/chi-siamo/orto-botanico-ulisse-aldrovandi">Orto Botanico</a> (botanical garden / jardín botánico)</li>
    <li style="margin-left: 50px"><a href="http://www.museocieloeterra.org/chi-siamo/area-astronomica">Planetario</a> (planetarium)</li>
    <li style="margin-left: 50px"><a href="http://www.lamborghini.com/en/museum/overview/">The Lamborghini Museum</a> (<a href="https://www.google.fr/maps/dir/San+Giovanni+in+Persiceto+BO,+Italia/40019+Sant'Agata+Bolognese+BO,+Italia/@44.6550065,11.1436687,14z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x477fc455928f023b:0x6eff1e4ddf450f9a!2m2!1d11.1893053!2d44.6405433!1m5!1m1!1s0x477fc3eca9065c15:0x12ec8a03aadae866!2m2!1d11.1342324!2d44.6647763">Sant'Agata Bolognese</a>)</li> 
    
    </br>
    <h1>Suggested trips:</h1>

    <p>
        Should you arrive few days earlier (or stay few days after) the wedding, we suggest you to consider one (or more) of the following day trip. If you have a whole week...well, it's Italy we are talking about!
    </p>

    <p><img src="/photos/italy_flag_16.png" />  
        Se riuscirai ad arrivare qualche giorno prima (o restare qualche giorno dopo) il matrimonio, ti suggeriamo di considerare una delle seguenti gite di un giorno.
    </p>
    
    <p><img src="/photos/spain_flag_16.png" /> 
        Si llega unos días antes (o desea quedarse unos días después) de la boda, le sugerimos que considere una (o varias) de las siguientes excursiones de un día. Si dispone de una semana entera ... entonces puede explorar toda Italia!
    </p>    
    
    <br/>
    <h2>Bologna</h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
          <img src="/photos/bologna.jpg" />
        </div>
        <div class="l-grid-u">
        <br/>
        <li><a href="http://www.bolognawelcome.com/">official tourism website</a></li>
        <li>dist.: 1/2 h, <a href="https://www.google.fr/maps/dir/40017+San+Giovanni+in+Persiceto+BO,+Italia/Bologna,+Italia/@44.5691216,11.1959735,12z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x477fc455928f023b:0x6eff1e4ddf450f9a!2m2!1d11.1893053!2d44.6405433!1m5!1m1!1s0x477fd498e951c40b:0xa2e17c015ba49441!2m2!1d11.3426163!2d44.494887">25 km</a></li>
       </div>
    </div>
    
    <br/>
    <h2>Modena</h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
          <br/>
          <li><a href="http://www.visitmodena.it/english?set_language=en">official tourism website</a></li>
          <li>dist.: 1/2 h, <a href="https://www.google.fr/maps/dir/40017+San+Giovanni+in+Persiceto+BO,+Italia/Modena,+MO,+Italia/@44.6178615,10.9890083,11z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x477fc455928f023b:0x6eff1e4ddf450f9a!2m2!1d11.1893053!2d44.6405433!1m5!1m1!1s0x477fef12dd4964e1:0x96751e7d492b7f28!2m2!1d10.9252269!2d44.647128">30 km</a></li>
        </div>
        <div class="l-grid-u">
          <img src="/photos/modena.jpg" />
       </div>
    </div>
    
    <br/>
    <h2>Ferrara</h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
          <img src="/photos/ferrara.jpg" />
        </div>
        <div class="l-grid-u">
        <br/>
        <li><a href="http://www.ferrarainfo.com/en?set_language=en">official tourism website</a></li>
        <li>dist.: 1 h, <a href="https://www.google.fr/maps/dir/40017+San+Giovanni+in+Persiceto+BO,+Italia/Ferrara,+FE,+Italia/@44.686339,11.1243541,10z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x477fc455928f023b:0x6eff1e4ddf450f9a!2m2!1d11.1893053!2d44.6405433!1m5!1m1!1s0x477e4e0bde2b11dd:0x3c3b79ae53712b2e!2m2!1d11.619787!2d44.8381237">60 km</a></li>
       </div>
    </div>
    
    <br/>
    <h2>Firenze</h2>
    <div class="details-group l-grid">
      <div class="l-grid-u">
        <br/>
        <li><a href="http://www.firenzeturismo.it/en/">official tourism website</a></li>
        <li>dist.: 2 h, <a href="https://www.google.fr/maps/dir/40017+San+Giovanni+in+Persiceto+BO,+Italia/Firenze,+FI,+Italia/@44.2059398,8.9984184,7z/data=!4m13!4m12!1m5!1m1!1s0x477fc455928f023b:0x6eff1e4ddf450f9a!2m2!1d11.1893053!2d44.6405433!1m5!1m1!1s0x132a56a680d2d6ad:0x93d57917efc72a03!2m2!1d11.2558136!2d43.7695604">120 km</a></li>  
      </div>
      <div class="l-grid-u">
         <img src="/photos/firenze.jpg" />
       </div>
    </div>
    
    <br/>
    <h2>Verona</h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
          <img src="/photos/verona.jpg" />
        </div>
        <div class="l-grid-u">
        <br/>
        <li><a href="http://www.tourism.verona.it/en">official tourism website</a></li>
        <li>dist.: 1 e 1/2 h, <a href="https://www.google.fr/maps/dir/San+Giovanni+in+Persiceto+BO,+Italia/Verona,+VR,+Italia/@44.9752325,10.4942058,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x477fc455928f023b:0x6eff1e4ddf450f9a!2m2!1d11.1893053!2d44.6405433!1m5!1m1!1s0x477f5f68699be0e3:0x53f85a636882595b!2m2!1d10.9916215!2d45.4383842!3e0">130 km</a></li>
       </div>
    </div>
    
    <br/>
    <h2>Venezia</h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
          <br/>
          <li><a href="http://en.turismovenezia.it/">official tourism website</a></li>
          <li>dist.: 2 h, <a href="https://www.google.fr/maps/dir/40017+San+Giovanni+in+Persiceto+BO,+Italia/Stazione+di+Venezia+Santa+Lucia,+Venezia,+VE,+Italia/@44.9945714,11.1947184,9z/data=!3m2!4b1!5s0x477eb1b8a82a792f:0xb825fcece2e18f97!4m13!4m12!1m5!1m1!1s0x477fc455928f023b:0x6eff1e4ddf450f9a!2m2!1d11.1893053!2d44.6405433!1m5!1m1!1s0x477eb1c7511cd1f1:0xfc7c01f280ca9309!2m2!1d12.3210436!2d45.4410697">160 km</a></li>
        </div>
        <div class="l-grid-u">
          <img src="/photos/venezia.jpg" />
       </div>
    </div>
    
    <br/>
    <p>
        Generally speaking, the national train service is handed by <a href="http://www.trenitalia.com/">TrenItalia</a>, but Bologna is connected to Florence, Venice, Torino, Milano and Rome by an independent train company <a href="http://www.italotreno.it/">Italo</a>: when planning a trip you should always check whether it can offer you a better deal. We would love to help you getting the most out of your trip to Italy, so don’t hesitate to ask us for suggestion. Please, be considered and contact us as soon as possible: Valentina is planning a major crisis over her phd thesis right before the wedding…
    </p>

    <p><img src="/photos/italy_flag_16.png" />  
        Normalmente viaggiare con <a href="http://www.trenitalia.com/">TrenItalia</a> é la soluzione più semplice e facile. Non dimenticare di controllare <a href="http://www.italotreno.it/">Italo</a> per i viaggi da/verso le grandi città (Milano, Roma, Torino, Venezia, Firenze): spesso propongono offerte molto convenienti. Ci farebbe molto piaere aiutarvi ad organizzare il vostro soggiorno in Italia: non esitate a chiedere suggerimenti! Per favore pero, siate comprensivi e contattateci il prima possibile: Valentina ha in programma di avere una crisi per via della tesi di dottorato giusto prima del matrimonio...
    </p>
    
    <p><img src="/photos/spain_flag_16.png" /> 
        Por regla general, el servicio nacional de trenes es gestionado por <a href="http://www.trenitalia.com/">TrenItalia</a>, pero Bolonia también está conectada a 
        Florencia, Venecia, Turín, Milán y Roma por la compañía de trenes independiente <a href="http://www.italotreno.it/">Italo</a>. A la hora de planificar un 
        viaje asegurese que tiene el mejor precio visitando las páginas de ambas compañías. Si necesita información referente
        a su viaje, pongase en contacto con nosotros lo ante posible: Valentina está planeando una importante crisis por su tesis doctoral justo antes
        de la boda ...
    </p>    
    
</div>
