{{setPageTitle "Outings in Area"}}
{{setActiveNav "logistics"}}
{{addCSS "/css/details.css"}}

<div class="l-contain">
  {{#subnav "logistics" active="outings"}}
    {{> subnav}}
  {{/subnav}}

    <h1>Suggested activities in the area:</h1>
    
    <p>
        Persiceto and the surroundings small towns offer little gems you do not want to miss.
    </p>

    <p><img src="/photos/italy_flag_16.png" />  
        Persiceto e le cittadine circostanti offrono piccole perle you don’t want to miss.
    </p>
    
    <p><img src="/photos/spain_flag_16.png" /> 
        Esp
    </p>  
    
    <h1>Suggested trips:</h1>

    <p>
        Should you arrive few days earlier (or stay few days after) the wedding, we suggest you to consider one (or more) of the following day trip. If you have a whole week...well, it's Italy we are talking about!
    </p>

    <p><img src="/photos/italy_flag_16.png" />  
        Se riuscirai ad arrivare qualche giorno prima (o restare qualche giorno dopo) il matrimonio, ti suggeriamo di considerare una delle seguenti gite di un giorno.
    </p>
    
    <p><img src="/photos/spain_flag_16.png" /> 
        Si llega unos días antes (o quedarse unos días después) de la boda, le sugerimos que usted considere una (o varias) de las siguientes excursiones de un día. If you have a whole week...well, it's Italy we are talking about!
    </p>    
    
    <h2>Bologna</h2>
    <p>
        <li><a href="http://www.bolognawelcome.com/">official tourism website</a></li>
    </p>
    
    <h2>Ferrara</h2>
    <p>
        <li><a href="http://www.ferrarainfo.com/en?set_language=en">official tourism website</a></li>
    </p>
    
    <h2>Modena</h2>
    <p>
        <li><a href="http://www.visitmodena.it/english?set_language=en">official tourism website</a></li>
    </p>
    
    <h2>Venezia</h2>
    <p>
        <li><a href="http://en.turismovenezia.it/">official tourism website</a></li>
    </p>
    
    <h2>Firenze</h2>
    <p>
        <li><a href="http://www.firenzeturismo.it/en/">official tourism website</a></li>
    </p> 
    
    <p>
        Generally speaking, the national train service is handed by <a href="http://www.trenitalia.com/">TrenItalia</a>, but Bologna is connected to Florence, Venice, Torino, Milano and Rome by an independent train company <a href="http://www.italotreno.it/">Italo</a>: when planning a trip you should always check whether it can offer you a better deal. We would love to help you getting the most out of your trip to Italy, so don’t hesitate to ask us for suggestion. Please, be considered and contact us as soon as possible: Valentina is planning a major crisis over her phd thesis right before the wedding…
    </p>

    <p><img src="/photos/italy_flag_16.png" />  
        Normalmente viaggiare con <a href="http://www.trenitalia.com/">TrenItalia</a> é la soluzione più semplice e facile. Non dimenticare di controllare <a href="http://www.italotreno.it/">Italo</a> per i viaggi da/verso le grandi città (Milano, Roma, Torino, Venezia, Firenze): spesso propongono offerte molto convenienti. Ci farebbe molto piaere aiutarvi ad organizzare il vostro soggiorno in Italia: non esitate a chiedere suggerimenti! Per favore pero, siate comprensivi e contattateci il prima possibile: Valentina ha in programma di avere una crisi giusto prima del matrimonio...
    </p>
    
    <p><img src="/photos/spain_flag_16.png" /> 
        xxxx
    </p>    
    
</div>
